{% extends "base.html" %}

{% load staticfiles %}

{% block body_block %}

    <div class="parallax-container" data-parallax="scroll" data-position="-100" data-bleed="10"
                     data-natural-width="1000" data-natural-height="600">
                <div class="text-center">~ Об авторе ~</div>
            </div>


    <div class="about">
      <div class="container">
                  <div class="row">
                      <div class="categorie">
                          <div class="col-md-6 ">
                            <div class="thumbnail">
                                <img src="{% static 'images/about-photo.jpg' %}">
                            </div>
                          </div>
                          <div class="col-md-6">
                              <p>Привет! Я рада, что Вы зашли на мой сайт. Меня зовут Юлия Свитла.
                                  Я свадебный и портретный фотограф, влюблена в мягкий естественный свет и настоящие, живые эмоции.
                                  Живу в Киеве, фотографирую по всей Украине. Снимаю в стиле Fine Art на цифровую камеру.
                                  Своими фотоработами стараюсь рассказать трогательные, чувственные и наполненные любви истории моих клиентов.
                                  Я люблю свое дело и рада работать с людьми, увлеченными тем, чтобы сделать их воспоминания нежными и утонченными!
                                  Поэтому отдаю предпочтение стильным и уютным свадьбам со сборами невесты, красивыми выездными регистрациями, флористикой и декором.
                              </p>
                               <p>Если Вы находитесь в поиске своего фотографа и Вам интересно и близко то, что я делаю - напишите мне сообщение
                                   через <a href="/add_recall/">форму</a> на сайте или свяжитесь любым другим способом, и я отвечу на все ваши вопросы.
                                   Улыбайтесь! Солнечного Вам настроения!
                               </p>
                          </div>
                      </div>
                  </div>
      </div>
    </div>
{% endblock %}
