{% extends "base.html" %}

{% load staticfiles %}

{% block body_block %}

    {% if album %}
            <div class="parallax-container" data-parallax="scroll" data-position="-100" data-bleed="10"
                     data-natural-width="1000" data-natural-height="600">
                <div class="text-center">~ {{ title }} ~</div>
            </div>

    <div class="categories">
              <div class="container container-photo">
                  <div class="row">
    {% for category in album %}
                      <a href="/categories/{{ category.categories }}/{{ category.id }}/">
                      <div class="categorie">
                          <div class="col-md-4">
                            <div class="thumbnail check">
                                <img src="{{ category.cover.url  }}" alt="эскиз">
                                <div class="caption">
                                    <h3>{{ category.name }}</h3>
                                </div>
                            </div>
                          </div>
                      </div>
                      </a>
    {% endfor %}
                  </div>
              </div>
        </div>
    {% else %}
      <p>Такой категории не найдено. Попробуйте еще ;)</p>
    {% endif %}

{% endblock %}
