{% extends "base_no_index.html" %}

{% load staticfiles %}

{% block body_block_no_index %}


    <div class="FAQ">
        <div class="container container-photo">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <p class="question">Когда и как лучше бронировать дату для фотосъемки?</p>
                </div>
                <div class="col-md-offset-1 col-md-10">
                    <p class="answer">
                        Если речь идет о свадебной съемке, то я советую сразу после уточнения предполагаемой даты свадьбы,
                        задуматься о выборе своего фотографа.
                        Чтобы забронировать дату, напишите мне в разделе <a href="/add_recall/">«Оставить заявку»</a> или любым удобным способом.
                        После подтверждения даты, подписания договора и внесения предоплаты, дата съемки будет забронирована за вами.
                        Предоплата вносится заранее  и составляет  30% от стоимости услуг. Вы всегда сможете встретиться со мной в уютном
                        кафе за чашечкой чая, чтобы обсудить детали, а также заключить договор. После внесения предоплаты дата считается
                        забронированной, но в случае отмены/переноса даты свадьбы после бронирования аванс не возвращается.
                        Если вы хотите семейную съёмку, love story или портретную съёмку - договор подписывать не нужно.
                        Достаточно утвердить дату съёмки и внести предоплату в размере 50%
                    </p>
                </div>
                <div class="col-md-offset-1 col-md-10">
                    <p class="question">Где вы находитесь? Выезжаете ли в другой город? </p>
                </div>
                <div class="col-md-offset-1 col-md-10">
                    <p class="answer">
                        Я живу в Киеве. Но люблю путешествовать и для съемки вашей свадьбы готова ехать в любую точку Украины.
                        Так что не стесняйтесь, напишите мне и я свяжусь с вами, чтобы уточнить все детали и возможность съемки.
                    </p>
                </div>
                <div class="col-md-offset-1 col-md-10">
                    <p class="question">Что включают в себя и сколько стоят ваши услуги на свадьбе? </p>
                </div>
                <div class="col-md-offset-1 col-md-10">
                    <p class="answer">
                        Тарифы на пакеты по свадебной съемке указаны в разделе <a href="/price/">«Цены»</a>.
                        Если ни один из тарифов вам не подошел, напишите мне, и мы найдем решение индивидуально для вашего случая.
                        Опишите, какая фотосъемка вам нужна. Я свяжусь с вами, чтобы обсудить все детали — место проведения, сроки, бюджет.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}