{% extends "base.html" %}

{% load staticfiles %}

{% block body_block %}

    <!-- Slider -->
    {% if slides %}
    <div class="slider">
        <ul class="skdslider">
            {% for slide in slides %}
            <li>
            <img src="{{ slide.photo.url }}" alt="">
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

      <!-- Quote -->

    <div class="quote">
        <p class="quote-text text-center">
              Если прекрасное не жило бы в нас, как бы мы могли узнать его?
        </p>
        <p class="quote-autor text-center "></p>
    </div>

      <!-- Categories -->

    <div class="categories">
              <div class="container">
                  <div class="row">
                      <a href="/categories/Family-photo/">
                      <div class="categorie ">
                          <div class="col-md-6">
                            <div class="thumbnail family-fhoto check">
                                <img src="../static/images/family.jpg" alt="эскиз">
                                <div class="caption">
                                    <h3>Семейное фото</h3>
                                </div>
                            </div>
                          </div>
                      </div>
                      </a>
                      <a href="/categories/Love-Story/">
                      <div class="categorie ">
                          <div class="col-md-6">
                            <div class="thumbnail love-story check">
                                <img src="../static/images/LoveStory.jpg" alt="эскиз">
                                <div class="caption">
                                    <h3>Love Story</h3>
                                </div>
                            </div>
                        </div>
                      </div>
                      </a>
                      <a href="/categories/Wedding/">
                      <div class="categorie ">
                         <div class="col-md-6">
                            <div class="thumbnail wedding check">
                                <img src="../static/images/wedding.jpg" alt="эскиз">
                                <div class="caption">
                                    <h3>Свадьба</h3>
                                </div>
                            </div>
                         </div>
                      </div>
                      </a>
                      <a href="/categories/Portrait/">
                      <div class="categorie">
                        <div class="col-md-6">
                            <div class="thumbnail portr check">
                                <img src="../static/images/port.jpg" alt="эскиз">
                                <div class="caption">
                                    <h3>Портрет</h3>
                                </div>
                            </div>
                        </div>
                      </div>
                      </a>
                  </div>
              </div>
    </div>


{% endblock %}
