{% extends "base.html" %}

{% load staticfiles %}

{% block body_block %}
    <!-- Slider -->
    {% if slides %}
    <div class="slider">
        <ul class="skdslider">
            {% for slide in slides %}
            <li>
            <img src="{{ slide.photo.url }}" alt="">
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

      <!-- Quote -->

    <div class="quote">
    <blockquote>
        <p class="quote-text">
              In every person there are bits of beauty, just need to know how to find and collect them
            together to show the whole world. For this I chose a photo. The magic of this process fascinates.
        </p>
        <cite><p class="quote-autor text-right"> Julia Svitla</p></cite>
    </blockquote>
    </div>

      <!-- Categories -->

    <div class="categories">
              <div class="container">
                  <div class="row">
                      <a href="/categories/Family-photo/">
                          <div class="col-md-3 categorie">
                            <div class="thumbnail animation-photo check">
                                <img src="../static/images/family.jpg" alt="эскиз">
                                <div class="caption text-center">
                                    <h3>Семейное фото</h3>
                                </div>
                            </div>
                          </div>
                      </a>
                      <a href="/categories/Love-Story/">
                          <div class="col-md-3 categorie">
                            <div class="thumbnail check animation-photo">
                                <img src="../static/images/LoveStory.jpg" alt="эскиз">
                                <div class="caption text-center">
                                    <h3>Love Story</h3>
                                </div>
                            </div>
                        </div>
                      </a>
                      <a href="/categories/Wedding/">
                         <div class="col-md-3 categorie">
                            <div class="thumbnail check animation-photo">
                                <img src="../static/images/wedding.jpg" alt="эскиз">
                                <div class="caption text-center">
                                    <h3>Свадьба</h3>
                                </div>
                            </div>
                         </div>
                      </a>
                      <a href="/categories/Portrait/">
                        <div class="col-md-3 categorie ">
                            <div class="thumbnail check animation-photo">
                                <img src="../static/images/port.jpg" alt="эскиз">
                                <div class="caption text-center">
                                    <h3>Портрет</h3>
                                </div>
                            </div>
                        </div>
                      </a>
                  </div>
              </div>
    </div>


{% endblock %}
