{% extends "base.html" %}

{% load staticfiles %}

{% block body_block %}

    <div class="parallax-container" data-parallax="scroll" data-position="-100" data-bleed="10"
                     data-natural-width="1000" data-natural-height="600">
                <div class="text-center">~ Свадебная съемка ~</div>
            </div>

    <div class="container pack-prices">
            <div class="row">
                    <div class="col-md-6">
                            <div class="pack-price">
                                <div class="header-pack">
                                <p>Пакет</p>
                                <p>“MINI”</p>
                                <p>2500 грн</p>
                                </div>
                                <ul>
                                    <li>Встреча-знакомство и дальнейшая онлайн консультация</li>
                                    <li>До 4 часов съемки (роспись + прогулка)</li>
                                    <li>От 150 фото с базовой и цветокоррекцией</li>
                                    <li>Детальная ретушь 20 фото</li>
                                    <li>Запись фото на диск (или ваш эл.носитель по желанию)</li>
                                    <li>Печать лучших 10 фото (15х21)</li>
                                </ul>
                            </div>
                    </div>
                     <div class="col-md-6">
                            <div class="pack-price">
                                <div class="header-pack">
                                <p>Пакет</p>
                                <p>“LIGHT”</p>
                                <p>4200 грн</p>
                                </div>
                                <ul>
                                    <li>Встреча-знакомство и дальнейшая онлайн консультация</li>
                                    <li>До 7часов  съемки (сборы + роспись + прогулка)</li>
                                    <li>От 250 фото с базовой и цветокоррекцией</li>
                                    <li>Детальная ретушь 35 фото</li>
                                    <li>Запись фото на диск (или ваш эл.носитель по желанию)</li>
                                    <li>Печать лучших 15 фото (15х21)</li>
                                    <li>Скидка на предсвадебное love-story 20%</li>
                                    <li>Мини-фильм из фотографий</li>
                                </ul>
                            </div>
                    </div>
                    <div class="col-md-6">
                            <div class="pack-price">
                                <div class="header-pack">
                                <p>Пакет</p>
                                <p>“BASIC”</p>
                                <p>6000 грн</p>
                                </div>
                                <ul>
                                    <li>2-3 встречи и дальнейшая онлайн консультация</li>
                                    <li>До 10 часов съемки (с утра и до первого танца)</li>
                                    <li>От 400 фото с базовой и цветокоррекцией</li>
                                    <li>Детальная ретушь 50 фото</li>
                                    <li>Запись фото на флеш-накопитель</li>
                                    <li>Печать лучших 20 фото (15х21)</li>
                                    <li>Скидка на предсвадебное love-story 50%</li>
                                    <li>Мини-фильм из фотографий</li>
                                    <li>Скидка на следующую съемку 20%</li>
                                </ul>
                            </div>
                    </div>
                    <div class="col-md-6">
                            <div class="pack-price">
                                <div class="header-pack">
                                <p>Пакет</p>
                                <p>“FULL”</p>
                                <p>9500 грн</p>
                                </div>
                                <ul>
                                    <li>От 600 фото с базовой и цветокоррекцией</li>
                                    <li>Детальная ретушь 80 фото</li>
                                    <li>Запись фото на флеш-накопитель</li>
                                    <li>Печать лучших 30 фото (15х21)</li>
                                    <li>Предсвадебное love-story в ПОДАРОК!</li>
                                    <li>Мини-фильм из фотографий</li>
                                    <li>Фотокнига 30х30 см (обложка кожзам/ткань на выбор)</li>
                                    <li>Скидка на следующую съемку 30%</li>
                                </ul>
                            </div>
                    </div>
            </div>

    </div>

{% endblock %}