{% extends "base_no_index.html" %}

{% load staticfiles %}

{% block body_block_no_index %}



     <div class="container pack-prices">
            <div class="row">
     <div class="col-md-6">
                            <div class="pack-price">
                                <div class="header-pack">
                                <p>Пакет</p>
                                <p>“MINI”</p>
                                <p>500 грн</p>
                                </div>
                                <ul>
                                    <li>Онлайн консультация (стилистика, образ, место)</li>
                                    <li>1 час съемки - 1 образ</li>
                                    <li>От 50 фото с базовой и цветокоррекцией</li>
                                    <li>Детальная ретушь 10 фото</li>
                                    <li>Запись фото на диск (или ваш эл.носитель по желанию)</li>
                                </ul>
                            </div>
                    </div>
                     <div class="col-md-6">
                            <div class="pack-price">
                                <div class="header-pack">
                                <p>Пакет</p>
                                <p>“BASIC”</p>
                                <p>900 грн</p>
                                </div>
                                <ul>
                                    <li>Онлайн консультация (стилистика, образ, место)</li>
                                    <li>2 часа съемки - 1-2 образа</li>
                                    <li>От 100 фото с базовой и цветокоррекцией</li>
                                    <li>Детальная ретушь 20 фото</li>
                                    <li>Запись фото на диск (или ваш эл.носитель по желанию)</li>
                                    <li>Печать лучших 10 фото (15х21)</li>
                                </ul>
                            </div>
                    </div>
                    <div class="col-md-6">
                            <div class="pack-price">
                                <div class="header-pack">
                                <p>Пакет</p>
                                <p>“FULL”</p>
                                <p>1800 грн</p>
                                </div>
                                <ul>
                                    <li>Встреча-знакомство и дальнейшая онлайн консультация</li>
                                    <li>3 часа съемки - 2-4 образа</li>
                                    <li>Прическа + макияж (для 1 персоны)</li>
                                    <li>От 150 фото с базовой и цветокоррекцией</li>
                                    <li>Детальная ретушь 30 фото</li>
                                    <li>Запись фото на диск (или ваш эл.носитель по желанию)</li>
                                    <li>Печать лучших 10 фото (15х21)</li>
                                    <li>Скидка на следующую съемку 20%</li>
                                </ul>
                            </div>
                    </div>
            </div>
     </div>
{% endblock %}