/* all project*/
img {
    pointer-events: none;
}
body {
    background-color: white;
    font-family: 'Philosopher', sans-serif;
    /*
    font-family: AvanteNrBook;
    font-family: 'Comfortaa', cursive;
    font-family: 'Cormorant Garamond', serif;  blog font-family: 'Old Standard TT', serif;
    font-family: 'Fira Sans Condensed', sans-serif;*/
    color: #646969;
    padding: 0;
}

/* parralax */

cont {
  max-width: 30vh;
  margin: 0 auto;
}


section.section.cont {
  padding: 40px 0;
}
section.section.parallax {
  height: 20vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.section.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1em;
  line-height: 20vh;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.section.parallax-1 {
  background-image: url("../images/parallax_back.jpg");
}

@media all and (min-width: 600px) {
  section.section h2 {
    font-size: 1em;
  }
  section.section p {
    font-size: 20px;
  }
  section.section.parallax h1 {
    font-size: 2em;
  }
}
@media all and (min-width: 960px) {
  section.section.parallax h1 {
    font-size: 3em;
  }
}

/* base */
.button_ton {
    position: fixed;
    right: 2em;
    bottom: 2em;
    z-index: 99999;
    background: url("../images/go-to-top-icon.png") no-repeat center;
    height: 2.5em;
    width: 2.5em;
    background-size: contain;
    display: none;
    opacity: 0.4;

}
.button_ton:hover {
    opacity: 0.2;
    height: 2.6em;
    width: 2.6em;
}
    /*header*/
.header {
    display: flex;
    flex-direction: column;
}
.logo{
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}
.logo .logo-img {
    background: url("../images/logo.png") no-repeat center;
    min-width: 10em;
    min-height: 10em;
    background-size: contain;
}
.mainWrap {

}
.slider {
    margin-top: 0;
    width: 100%;
    height: 70vh;

}
.social a:hover{
    opacity: 0.6;
}
    /*footer*/
.footer {
    display: flex;
    margin-top: 3em;
    border-top: 1px solid lightgrey;
    padding-top: 3em;
    margin-bottom: 3em;
    font-family: 'Questrial', sans-serif;
}
.footer .social{
    text-align: center;
    padding-bottom: 1em;
}
.footer .footer-logo {
    background: url("../images/footer-logo.png") no-repeat center;
    min-height: 5em;
    background-size: contain;
    opacity: 0.7;
}
.thumbnail {
    border: none;
}

.form {
    margin-top: 4em;
}

/* index */
.categories h3 {
    color: #646969;
}
.footer p {
    font-size: 1.4em;
}
footer img {
    height: 2.5em;
}
.quote {
    width: 100%;
    margin: 2em 0;
    padding: 1em 25%;
}
.quote .quote-text {
    font-style: italic;
    font-size: 1.1em;
}
.quote .quote-autor {
    margin-top: 1.5em;
    margin-right: 30%;
    font-size: 1em;
}
.categories {
    margin-top: 3em;
    width: auto;
}
.animation-photo img {
    background-size: contain;
    border-radius: 50%;
}
.categorie caption{
    padding-top: 0;

}
.check {
   border: none;
    color: #646969;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
          transition: all 1s ease;
}
.categories .check:hover {

    -webkit-filter: opacity(70%);
    text-decoration: underline;
    color: #cd96b7;
}
.categories .check:hover h3{
    color: #cd96b7;
}
.photo {
    padding: 4px;
    margin: 0;
}
.photo .thumbnail {
    padding: 0;
    margin: 0;
}

/* FAQ */

.FAQ {
    margin-top: 5em;
}
.FAQ .question {
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 1em;
}
.FAQ a {
    color: #646969;
    text-decoration: underline;
}
.FAQ a:hover {
    color: #cd96b7;
}

/* Price */
.price-categories  {
    text-align: center;
    margin-top: 6em;
}
.price-category1 {
    background: url("../../media/photo/МК_ПастухМ_2027.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 40em;
    vertical-align: middle;
    opacity: 0.6;
}
.price-category2 {
    background: url("../../media/photo/МК_ПастухМ_2027.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 40em;
    opacity: 0.6;
}
.text-price {
    padding-top: 17em;
    opacity: 1;
}
.price-category1 .text-price {
    padding-top: 19em;
}
.price-category p {
    font-size: 1.4em;
    color: black;
}
.price-categories a:hover p {
    color: #cd96b7;
}

/* Price -wedding */
.pack-prices {
    margin-top: 4em;
}
.pack-price {
    margin-bottom: 4em;
}
.header-pack {
    background-color: #cd96b7;
    text-align: center;
    font-size: 1.6em;
    margin-right: 1em;
    padding: 1.4em;
    opacity: 0.7;
    margin-bottom: 1em;
}
.header-pack p {
    display: block;
    margin-top: 1em;
    border: none;
    opacity: 1;
}
.pack-price li {
    font-size: 1.2em;
    margin-left: 2em;
    padding-top: 1em;
    list-style-type: disc;
}

/* about */
.about {
    font-size: 1.2em;
    margin-top: 4em;
}
.about img {
    height: 20em;
}
.about a {
    color: #646969;
    text-decoration: underline;
}
.about a:hover {
    color: #cd96b7;
}

/* album */
.next-page {
    text-align: center;
    margin: 3em 30%;
    display: flex;
    justify-content: space-between;

}

.next-page a {
    color: #646969;
    text-decoration: none;
}
.next-page a:hover {
    color: #cd96b7;;
}

/* contact */
.contact {
    font-size: 1.2em;
    margin-top: 4em;
    padding: 0 23%;
}

.form-recall{
    margin-top: 4em;
}
.form-recall input {
    border-radius: 0;
}
.form-recall textarea{
    border-radius: 0;
}
.form-recall button{
    border-radius: 0;
}
.form-recall select{
    border-radius: 0;
}
.form-img {
    background: url("../images/form_img.jpg") no-repeat center;
    background-size: contain;
    min-height: 50em;
}
.form-recall button {
    width: 70%;
    margin-top: 1em;
}
.form-recall .form-group:last-child {
    text-align: center;
}
.errors {
    color: red;
}
.form-valid {
    margin: 5em 0;
}

/* blog */
.blog {
    margin-top: 4em;

}
.blog .post-preview {

    background-color: silver;

}
.blog  .cover {
    height: 15em;
    width: 15em;
    background-color: red;
}
.blog .description {
    height: 15em;
    width: 15em;
    background-color: blue;
}


/* media */
@media (max-width: 760px) {
    .quote{
        padding: 0 5%;
    }
    .quote blockquote{
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {}
@media (max-width: 320px) {}